@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("../font/fontawesome.css");
@import url("../font1/fontawesome.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

* {
  font-family: "Lato", sans-serif;
}

h1 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
}

h3 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
}

p {
  font-size: 12px;
  font-weight: 300;
  color: #767e9e;
  line-height: 21px;
}

body {
  background-color: #000;
}

.container {
  width: 96%;
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.zone1 {
  display: flex;
  background-color: #2d2f3b;
  border-bottom: 6px solid #313745;
}

.zone1 .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  height: 95px;
}

.zone1 .container > a {
  width: 166px;
  margin-right: auto;
}

.zone1 .container .primarymenu {
  display: flex;
}

.zone1 .container .primarymenu li {
  position: relative;
  margin: 0 39px 0 21px;
}

.zone1 .container .primarymenu li:nth-child(5) {
  margin-right: 0;
}

.zone1 .container .primarymenu li:before {
  position: absolute;
  content: ".";
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #4c4f62;
  left: -30px;
}

.zone1 .container .primarymenu li a {
  color: #fff;
  text-transform: uppercase;
}

.zone1 .container .primarymenu li a:hover {
  color: #f16c67;
}

.zone1 .container .primarymenu li > a.active {
  color: #f16c67;
}

.zone1 .container .primarymenu li:first-child:before {
  content: "";
}

.zone2 {
  display: flex;
  background-color: #f06b64;
  border-bottom: 6px solid #ea676c;
}

.zone2 .container {
  position: relative;
}

.zone2 .container .left_arrow {
  position: absolute;
  background: url("../images/arrows.png") 0 0;
  width: 16px;
  height: 27px;
  top: 50%;
  margin-top: -13.5px;
  z-index: 10;
}

.zone2 .container .right_arrow {
  position: absolute;
  background: url("../images/arrows.png") 16px 0;
  width: 16px;
  height: 27px;
  right: 0;
  top: 50%;
  margin-top: -13.5px;
}

.zone3 {
  display: flex;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  padding: 66px 0 71px 0;
}

.zone3 .container .columns {
  display: flex;
  display: flex;
  flex-wrap: wrap;
}

.zone3 .container .columns > *:nth-child(1n + 0) {
  margin: 0 20px 20px 0;
  width: calc(calc(100% - 40px) / 3);
}

.zone3 .container .columns > *:nth-child(3n + 0) {
  margin-right: 0;
}

.zone3 .container .columns :nth-child(3n) {
  margin-right: 0;
}

.zone3 .container .columns > div {
  position: relative;
  padding-left: 59px;
}

.zone3 .container .columns > div::before {
  position: absolute;
  content: "\e80b";
  font-family: fontawesome;
  font-size: 34px;
  font-weight: bold;
  top: 1px;
  left: 0px;
  border: 1px solid #666d89;
  border-radius: 49%;
  height: 40px;
  width: 43px;
  color: #666d89;
  padding-top: 6px;
  padding-left: 8px;
}

.zone3 .container .columns div:nth-child(1)::before {
  content: "\e80b";
  left: 0;
}

.zone3 .container .columns div:nth-child(2)::before {
  content: "\e809";
  left: 0;
}

.zone3 .container .columns div:nth-child(3)::before {
  content: "\e80a";
  left: 0;
}

.zone3 .container .columns div:nth-child(4)::before {
  content: "\e80c";
  left: 0;
}

.zone3 .container .columns div:nth-child(5)::before {
  content: "\e808";
  left: 0;
}

.zone3 .container .columns div:nth-child(6)::before {
  content: "\e80d";
  left: 0;
}

.zone3 .container h1 {
  margin-bottom: 33px;
}

.zone3 .container h2 {
  margin-bottom: 52px;
}

.zone4 {
  display: flex;
  background-color: #2d2f3b;
  border-bottom: 6px solid #313747;
  padding: 67px 0 73px 0;
}

.zone4 .container {
  background-color: #2d2f3b;
  margin: 0 auto;
}

.zone4 .container > a {
  color: #666d89;
  text-transform: capitalize;
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.zone4 .container > a:nth-of-type(1).active {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.zone4 .container > a:hover {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.zone4 .pics {
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
}

.zone4 .pics > *:nth-child(1n + 0) {
  margin: 0 20px 20px 0;
  width: calc(calc(100% - 60px) / 4);
}

.zone4 .pics > *:nth-child(4n + 0) {
  margin-right: 0;
}

.zone4 .pics a {
  position: relative;
  overflow: hidden;
}

.zone4 .pics a:hover::before {
  opacity: 0.7;
  transition: all 300ms;
}

.zone4 .pics a:hover::after {
  opacity: 1;
  transition: all 300ms;
}

.zone4 .pics a:hover img {
  transform: scale(1.5) rotate(2deg);
  transition: all 300ms;
}

.zone4 .pics a::before {
  z-index: 1;
  opacity: 0;
  content: "";
  width: 96%;
  height: 96%;
  background-color: gray;
  border: 4px solid #aebcbc;
  position: absolute;
}

.zone4 .pics a::after {
  z-index: 2;
  opacity: 0;
  content: "\e80e";
  font-family: fontawesome;
  color: #bfb3a3;
  position: absolute;
  font-size: 73px;
  top: 50%;
  left: 50%;
  margin-left: -37.5px;
  margin-top: -37.5px;
}

.zone4 h1 {
  margin-bottom: 33px;
}

.zone4 h2 {
  margin-bottom: 16px;
}

.zone5 {
  display: flex;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  padding: 66px 0 73px 0;
}

.zone5 .container {
  background-color: #f2f2f2;
}

.zone5 .profiles {
  display: block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.zone5 .profiles > *:nth-child(1n + 0) {
  margin: 0 20px 20px 0;
  width: calc(calc(100% - 40px) / 3);
}

.zone5 .profiles > *:nth-child(3n + 0) {
  margin-right: 0;
}

.zone5 .profiles a {
  width: 100px;
  position: relative;
}

.zone5 .profiles a .facebook:before,
.zone5 .profiles a .gplus:before,
.zone5 .profiles a .twitter:before,
.zone5 .profiles a .linkedin:before {
  position: absolute;
  font-family: fontawesome;
  font-size: 14px;
  bottom: -15px;
  color: #68728b;
  border: 1px solid #666d89;
  border-radius: 49%;
  height: 24px;
  width: 22px;
  padding-top: 8px;
  padding-left: 11px;
}

.zone5 .profiles a :hover::before {
  border: 1px solid #666d89;
  background-color: #f06b64;
  transition: all 300ms;
}

.zone5 .profiles a .facebook:before {
  content: "\f30c";
  left: 0px;
}

.zone5 .profiles a .gplus:before {
  content: "\f30f";
  left: 40px;
}

.zone5 .profiles a .twitter:before {
  content: "\f309";
  left: 80px;
}

.zone5 .profiles a .linkedin:before {
  content: "\f318";
  left: 120px;
}

.zone5 .profiles a a img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.zone5 .profiles a h3 {
  margin: 19px 0 18px 0;
}

.zone5 .profiles a p {
  margin-bottom: 28px;
}

.zone5 h2 {
  margin: 50px 0 33px 0;
}

.zone6 {
  display: flex;
  background-color: #f06b64;
  border-bottom: 6px solid #ea676c;
  padding: 67px 0 73px 0;
}

.zone6 .container .input {
  display: flex;
}

.zone6 .container .input .section {
  width: calc(70% - 40px);
  margin-right: 40px;
}

.zone6 .container .input .section ::placeholder {
  color: #f08688;
}

.zone6 .container .input .section input,
.zone6 .container .input .section textarea {
  display: block;
  width: 100%;
  background-color: #d75650;
  margin-bottom: 16px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
  border: 0px solid transparent;
  height: 38px;
  outline: none;
  color: #ef868a;
}

.zone6 .container .input textarea {
  height: 202px;
  resize: none;
}

.zone6 .container .input .aside {
  width: 30%;
}

.zone6 .container .input .aside p:nth-of-type(1) {
  margin: 18px 0 31px 0;
}

.zone6 .container .input .aside p:nth-of-type(2) {
  position: relative;
  padding-left: 18px;
}

.zone6 .container .input .aside p:nth-of-type(2)::before {
  position: absolute;
  content: "\e807";
  font-family: fontawesome;
  font-size: 12px;
  top: 0;
  left: 0;
  color: #f1d9d9;
}

.zone6 .container .input .aside a:hover {
  text-decoration: underline;
}

.zone6 .container .input .aside a:nth-of-type(1) {
  position: relative;
  padding-left: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #f1d9d9;
  line-height: 21px;
}

.zone6 .container .input .aside a:nth-of-type(1)::before {
  position: absolute;
  content: "\e805";
  font-family: fontawesome;
  font-size: 12px;
  top: 0;
  left: 0;
  color: #f1d9d9;
}

.zone6 .container .input .aside a:nth-of-type(2) {
  position: relative;
  padding-left: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #f1d9d9;
  line-height: 21px;
  display: block;
}

.zone6 .container .input .aside a:nth-of-type(2)::before {
  position: absolute;
  content: "\e806";
  font-family: fontawesome;
  font-size: 11px;
  top: 0;
  left: 0;
  color: #f1d9d9;
}

.zone6 h2 {
  margin: 29px 0 49px 0;
}

.zone6 h1,
.zone6 h2,
.zone6 h3,
.zone6 p {
  color: #f1d9d9;
}

.footer {
  height: 76px;
  display: flex;
  background-color: #2d2f3b;
}

.footer .container {
  display: flex;
  align-items: center;
  color: #666d87;
  position: relative;
}

.footer .container .facebook:before,
.footer .container .gplus:before,
.footer .container .twitter:before,
.footer .container .linkedin:before {
  position: absolute;
  font-family: fontawesome;
  font-size: 14px;
  top: 25px;
  color: #68728b;
  border: 1px solid #666d89;
  border-radius: 49%;
  height: 24px;
  width: 22px;
  padding-top: 8px;
  padding-left: 11px;
}

.footer .container .facebook:before {
  content: "\f30c";
  right: 120px;
}

.footer .container .gplus:before {
  content: "\f30f";
  right: 80px;
}

.footer .container .twitter:before {
  content: "\f309";
  right: 40px;
}

.footer .container .linkedin:before {
  content: "\f318";
  right: 0;
}

.footer .container a:hover::before {
  border: 1px solid #666d89;
  background-color: #f06b64;
  transition: all 300ms;
}

.hamburger {
  display: none;
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #ef6b66;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 880px) {
  header .hamburger {
    display: block;
  }
  .zone1 .container nav {
    display: none;
  }
  .zone3 .container .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .zone3 .container .columns > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 20px) / 2);
  }
  .zone3 .container .columns > *:nth-child(2n + 0) {
    margin-right: 0;
  }
  .zone3 .container .columns :nth-child(2n) {
    margin-right: 0;
  }
  .zone4 .container .pics {
    display: flex;
    flex-wrap: wrap;
  }
  .zone4 .container .pics > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 40px) / 3);
  }
  .zone4 .container .pics > *:nth-child(3n + 0) {
    margin-right: 0;
  }
  .zone4 .container .pics a img {
    display: block;
  }
  .zone5 .container .profiles {
    display: flex;
    flex-wrap: wrap;
  }
  .zone5 .container .profiles > *:nth-child(1n + 0) {
    margin: 0 40px 40px 0;
    width: calc(calc(100% - 40px) / 2);
  }
  .zone5 .container .profiles > *:nth-child(2n + 0) {
    margin-right: 0;
  }
  .zone5 .container .profiles:nth-child(3) {
    justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .zone3 .container .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .zone3 .container .columns > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone3 .container .columns > *:nth-child(1n + 0) {
    margin-right: 0;
  }
  .zone4 .container .pics {
    display: flex;
    flex-wrap: wrap;
  }
  .zone4 .container .pics > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 20px) / 2);
  }
  .zone4 .container .pics > *:nth-child(2n + 0) {
    margin-right: 0;
  }
  .zone5 .container .profiles {
    display: flex;
    flex-wrap: wrap;
  }
  .zone5 .container .profiles > *:nth-child(1n + 0) {
    margin: 0 40px 40px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone5 .container .profiles > *:nth-child(1n + 0) {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .zone4 .container .pics {
    display: flex;
    flex-wrap: wrap;
  }
  .zone4 .container .pics > *:nth-child(1n + 0) {
    margin: 0 20px 20px 0;
    width: calc(calc(100% - 0px) / 1);
  }
  .zone4 .container .pics > *:nth-child(1n + 0) {
    margin-right: 0;
  }
  .zone4 .container .pics a::before {
    width: 98%;
    height: 98%;
  }
  .zone6 .container .input {
    display: block;
  }
  .zone6 .container .input .section,
  .zone6 .container .input .aside {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .zone4 .container > a {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .zone4 .container > a {
    display: 100%;
  }
}

/*# sourceMappingURL=style.css.map */